:root{
    scroll-behavior: smooth;
}

/* highlight colors */
::selection {
    background: #BBDEFB;
}
::-moz-selection {
    background-color: #BBDEFB;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background: #FCFCFC;
    font-size: 16px;
}

a{
    font-size: inherit;
    color: #4040A0;
    text-decoration: underline;
}

.title{
    font-size: 2.5em;
}

rect{
    fill: #0050D0;
    width: 3em;
    height: 3em;
}

h1, h2, h3, h4, h5, h6{
    color: #404040;
}

h1{
    font-size: 2.2em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.6em;
}

h3, h4, h5, h6{
    font-weight: normal;
}

p, li{
    font-size: 1.1em;
    line-height: 1.4;
    max-width: 40em;  /* limits lines to ~90 characters */
}

code{
    white-space: pre;
}

.inlineCode{
    background: #E8E8E8;
    padding: 0 3px 0 3px;
    word-wrap: break-word;
    /* font-size: 0.85em; */
}

.codeBlock{
    background: #DDD;
    background: #E8E8E8;
    padding: 1em 2em 1em 2em;
    overflow: auto;
}

hr{
    /* makes hr's only one horizontal line */
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: thin solid #808080;
    
    width: 90%;
    text-align: center;
}

#container{
    background: #FCFCFC;
    height: 100%;
    padding: 0 10% 1em 10%;
}

@media only screen and (min-width: 840px){
    #container{
        padding-left: 20%;
        padding-right: 20%;
    }
}

#container hr{
    width: 50%;
}

